.Dashboard {
    display: flex;
    background: #8f7350;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0; 
    padding:0;
    top:0; 
    left:0;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }

  button {
    cursor: pointer;
  }

.spootify {
    font-size: 100px;
    color: white;
    cursor: pointer;
}

.spootify:hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.4s;
}

.tracks {
    margin-bottom: 12px;
    font-size: 20px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: -13px;
}

.btns {
    margin: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor:pointer;
}

.btns:hover {
    color: black;
}

a {
    text-decoration: none !important;
}
