.Dashboard {
    display: flex;
    background: #312D39;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    margin: 0; 
    padding:0;
    top:0; 
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

button {
cursor: pointer;
}

.spootify {
    font-weight: bold;
    font-size: 100px;
    color: white;
    cursor: pointer;
}

.spootify:hover {
    color: #4F9197;
    transition-duration: 0.4s;
}

.tracks {
    margin-top: 12px;
    font-size: 20px;
    position: relative;
}

track-name {
    color: rgb(196, 162, 131);
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: -13px;
}

.btns {
    margin: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor:pointer;
}

.btns:hover {
    color: rgb(196, 162, 131);
    transition-duration: 0.4s;
}

a {
    text-decoration: none !important;
}
