.InitialLook {
    overflow-x: hidden;
    display: flex;
    background: rgb(196, 162, 131);
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.header-wrapper {
    background-color: rgb(94, 60, 28);
}

.header {
    color: rgb(196, 162, 131);
    font-size: 16px;
    margin-bottom: 20px;
}

.header:hover {
    color: white;
    transition-duration: 0.4s;
}

.title {
    display: flex;
    background: rgb(196, 162, 131);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.center {
    display: flex;
    background: rgb(196, 162, 131);
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    cursor: pointer;
    color: white;
    font-size: 100px;
}

h1:hover {
    color: rgb(94, 60, 28);
    transition-duration: 0.4s;
}